<h2>Articles Index Page:</h2>

<% @articles.each do |article|  %>
  <li>
    <%= article[0] %> | <%= article[1] %> | <%= article[2] %>
  </li>

<% end %>

<h4>  <a href= "/articles/new">Submit New Article </h4>
